<!DOCTYPE html>
<html lang="en"  ng-app="postExample" >
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-cookies.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"></link>
    
<!--     <style type="text/css">
		.login-form {
			max-width: 300px;
			margin: 0 auto;
		}
		#inputUsername {
		  margin-bottom: -1px;
		  border-bottom-right-radius: 0;
		  border-bottom-left-radius: 0;
		}
		#inputPassword {
			border-top-left-radius: 0;
  			border-top-right-radius: 0;
		}
		
		.btn-block {
			display: inline;
			width: 50%;
		}
	</style> -->
    <script src="/resources/js/index.js"></script>
	<script src="/resources/styles/mystyle.css"></script> 
    </head>
      <body ng-controller="MainController">  
    
    <div class="container">
      <form class="login-form">
        <h2 style="text-align:center">Log In</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus ng-model="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
		<br>
        <div class="form-group">
			<input class="btn btn-primary btn-lg active" type="submit"  value="Login" ng-click="login()" ng-disabled="form.userEmail.$invalid || form.userPassword.$invalid"/>
		</div>	
     </form>
    </div>  
    </body>
</html>
