<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'Quotation Of The Day'" />
	<hr />

	<p th:text="${quotation}" />

	<hr />
	<h1>User Details</h1>

	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Age</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.userId}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.age}"></td>
		</tr>
	</table>


</body>
</html>