<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
</head>
<body style="padding-left: 50px;">
	<p th:text="'Quotation Of The Day'" />
	<hr />

	<p th:text="${quotation}" />

	<hr />
	<h1>User Details</h1>

	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Age</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.userId}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.age}"></td>
			<td><a th:href="'user?userId='+${user.userId}">Edit</a></td>
			<!--  <td> <a th:href="'delete-user?userId='+${user.userId}">Delete</a></td>-->
			<td><a
				th:href="'javascript:deleteUserConfirm('+${user.userId}+');'">Delete</a></td>
		</tr>
	</table>
	<hr />
	<a href="user">Add a new user</a>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		var deleteUserConfirm = function(userId) {
			var txt;
			var userConfirmValue = confirm("Are you sure you wanted to delete this user!");
			if (userConfirmValue == true) {
				deleteUser(userId);
			} else {
				alert("Your user is safe now");
			}
		}

		var deleteUser = function(userId) {
			location.href = "delete-user?userId=" + userId;
		}
	</script>
</body>
</html>