<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>User Detail</h1>
	<hr/>
	
	<form action="#" method="post" th:action="@{/save-user}" th:object="${user}">
		<p>Id: <input type="text" readonly="readonly" th:field="*{userId}" /></p>
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Age: <input type="text" th:field="*{age}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	</form>
</body>
</html>