<section>
<body ng-controller="userController">
  <div class="second">
  <h2 style="text-align: center;">Records</h2>
  <hr>
    
    <fieldset>
    <legend>Create User</legend>
    <input type="text" ng-model="id" placeholder="User_id" ><br />
    <input type="text" ng-model="name" placeholder="Name" ><br />
    <input type="number" ng-model="age" placeholder="Age" ><br />
    <input type="text" ng-model="role" placeholder="role" ><br />
    <button type="button" ng-click="addPerson()">Add User</button>
    </fieldset>
    <br>
    
    <table border="1" style="width:90%;">
      <thead>
        <tr>
          <th>
            User_id
          </th>
          <th>
            Name
          </th>
          <th>
            Age
          </th>
          <th>
           Role
          </th>
        </tr>
      </thead>
      
        <tr ng-repeat="person in people">
          <td>
            {{ person.id }}
          </td>
          <td>
            {{ person.name }}
          </td>
          <td>
            {{ person.age }}
          </td>
          <td>
            {{ person.role }}
          </td>
          <td>
             <button type="button" ng-click="removePerson($index)">Remove</button>
          </td>
          <td>
             <button type="button" ng-click="editPerson($index)">Edit</button>
          </td>

         
        </tr>
      
    </table>
    
    
  </body>

</section>  